In [1]:
import pandas as pd
#Empty DataFrame
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
emp=pd.Series(['parker','john','smith','william'])
id=pd.Series([102,107,109,114])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\nseries to Data frame\n")
print(result)

series to Data frame

       Emp   ID
0   parker  102
1     john  107
2    smith  109
3  william  114

In [4]:
print("\n Extracting one column:\n")
print(result['Emp'])

 Extracting one column:

0     parker
1       john
2      smith
3    william
Name: Emp, dtype: object

In [5]:
print("\nAdding new column:\n")
result['Age']=pd.Series([35,24,40,38])
print(result)

Adding new column:

       Emp   ID  Age
0   parker  102   35
1     john  107   24
2    smith  109   40
3  william  114   38

In [6]:
print("\nDeleting one column:\n")
del result['Age']
print(result)

Deleting one column:

       Emp   ID
0   parker  102
1     john  107
2    smith  109
3  william  114

In [7]:
print("\nExtracting the thrid row:\n")
print(result.loc[2])

Extracting the thrid row:

Emp    smith
ID       109
Name: 2, dtype: object

In [10]:
print("\nSlice rows:\n",result[1:3])

Slice rows:
      Emp   ID
1   john  107
2  smith  109

In [11]:
d2=pd.DataFrame([['Dale',123],['Mark',143]],columns=['Emp','ID'])
result=pd.concat([result,d2],ignore_index=True)
print("\nAdding new row values:\n",result)

Adding new row values:
        Emp   ID
0   parker  102
1     john  107
2    smith  109
3  william  114
4     Dale  123
5     Mark  143

In [12]:
print("\nDeleting particular row:\n",result.drop(1))

Deleting particular row:
        Emp   ID
0   parker  102
2    smith  109
3  william  114
4     Dale  123
5     Mark  143